{#
/**
 * Layout provider: page-layout
 * Template suggestion: page
 * Theme: travel_theme
 * Generated on: Wed, 14 Nov 18 15:46:32 +0600
 */
#}
{{ attach_library('travel_theme/travel_theme.layout.page') }}
<div{{ attributes }}>
  {{ rows }}
</div>
