/* Layout CSS for: page.html.twig, generated: Wed, 14 Nov 18 15:46:32 +0600 */

.page {
  display: flex;
  flex-flow: column;
  width: 100%;
}

.l-rw {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 75em;
  width: 100%;
}

.l-r {
  flex: 0 0 auto;
  padding: 0 0.625em;
  width: 100%;
}

/* Begin breakpoint: wide */
@media all and (min-width: 60.0625em) {

.l-leaderboard { -webkit-order: -10; -ms-flex-order: -10; order: -10; }
.l-header { -webkit-order: -8; -ms-flex-order: -8; order: -8; }
.l-menu-bar { -webkit-order: -12; -ms-flex-order: -12; order: -12; }
.l-help { -webkit-order: -11; -ms-flex-order: -11; order: -11; }
.l-secondary-content { -webkit-order: -9; -ms-flex-order: -9; order: -9; }
.l-highlighted { -webkit-order: -7; -ms-flex-order: -7; order: -7; }
.l-content { -webkit-order: -6; -ms-flex-order: -6; order: -6; }
.l-content-aside { -webkit-order: -5; -ms-flex-order: -5; order: -5; }
.l-sidebar-first { -webkit-order: -4; -ms-flex-order: -4; order: -4; }
.l-sidebar-second { -webkit-order: -3; -ms-flex-order: -3; order: -3; }
.l-tertiary-content { -webkit-order: -2; -ms-flex-order: -2; order: -2; }
.l-footer { -webkit-order: -1; -ms-flex-order: -1; order: -1; }

}
/* End breakpoint */

/* Begin breakpoint: tabletisolate */
@media all and (min-width: 45.0625em) and (max-width: 60em) {

.l-leaderboard { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.l-header { -webkit-order: 4; -ms-flex-order: 4; order: 4; }
.l-menu-bar { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.l-help { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.l-secondary-content { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
.l-highlighted { -webkit-order: 7; -ms-flex-order: 7; order: 7; }
.l-content { -webkit-order: 5; -ms-flex-order: 5; order: 5; }
.l-content-aside { -webkit-order: 6; -ms-flex-order: 6; order: 6; }
.l-sidebar-first { -webkit-order: 8; -ms-flex-order: 8; order: 8; }
.l-sidebar-second { -webkit-order: 9; -ms-flex-order: 9; order: 9; }
.l-tertiary-content { -webkit-order: 10; -ms-flex-order: 10; order: 10; }
.l-footer { -webkit-order: 11; -ms-flex-order: 11; order: 11; }

}
/* End breakpoint */

/* Begin breakpoint: mobile */
@media all and (max-width: 45em) {

.l-leaderboard { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.l-header { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.l-menu-bar { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.l-help { -webkit-order: 1; -ms-flex-order: 1; order: 1; }
.l-secondary-content { -webkit-order: 2; -ms-flex-order: 2; order: 2; }
.l-highlighted { -webkit-order: 4; -ms-flex-order: 4; order: 4; }
.l-content { -webkit-order: 3; -ms-flex-order: 3; order: 3; }
.l-content-aside { -webkit-order: 4; -ms-flex-order: 4; order: 4; }
.l-sidebar-first { -webkit-order: 5; -ms-flex-order: 5; order: 5; }
.l-sidebar-second { -webkit-order: 6; -ms-flex-order: 6; order: 6; }
.l-tertiary-content { -webkit-order: 7; -ms-flex-order: 7; order: 7; }
.l-footer { -webkit-order: 10; -ms-flex-order: 10; order: 10; }

}
/* End breakpoint */


.l-attribution { -webkit-order: 100; -ms-flex-order: 100; order: 100 ;}
