.block-views-advantages {
  text-align: center;
  overflow: hidden;
  margin-bottom: 120px;
}

.block-views-advantages .view-content {
  max-width: 960px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;

  @media only screen and (max-width: 580px) {
    flex-direction: column;
  }
}

.block-views-advantages div.views-row {
  width: 35%;
  height: 325px;
  margin: 10px auto;

  @media only screen and (max-width: 580px) {
    width: 100%;
    margin-top: 20px;
    float: none;
  }

  @media only screen and (min-width: 1024px) {
    width: 25%;
  }
}

.block-views-advantages .view-content .views-row .views-field-field-image {
  display: inline-block;
  width: 144px;
  height: 144px;
  background-color: $color--soft-blue;
  border-radius: 50%;
}

.block-views-advantages .view-content .views-row .views-field-field-image .field-content {
  margin: 25% 0;
}

.block-views-advantages .view-content .views-row .views-field-title {
  color: #333;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0;
  text-transform: uppercase;
}

.block-views-advantages .view-content .views-row .views-field-body {
  width: 220px;
  margin: 0 auto;
  color: #555;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;

  @media only screen and (max-width: 1024px) {
    width: 90%;
  }
}

@media only screen and (max-width: 580px) {
  .block-views-advantages h2.block__title {
    line-height: 1.25;
  }
}
