/* stylelint-disable */

/**
 * Media
 * - styles for media objects such as iframe, video, embedding codes etc.
 ============================================================================ */

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**
 * List Styles
 ============================================================================ */

ul.inline,
ul.links.inline {
  padding: 0;
}

ul.inline::before,
ul.inline::after,
ul.links.inline::before,
ul.links.inline::after {
  content: '';
  display: table;
}

ul.inline::after,
ul.links.inline::after {
  clear: both;
}

ul.inline li {
  display: inline-block;
  margin: 0 0 0 0;
  list-style: none;
}

ul.inline li ul,
ul.inline li ol {
  display: inline-block;
}

[dir='rtl'] ul.inline li {
  margin-right: 0;
  margin-left: 0;
}

.no-bullets li {
  list-style: none;
}

.no-padding {
  padding: 0;
}

.item-list__title {
  font-weight: 700;
}

.item-list__list {
  padding: 0;
}

.item-list__item {
  list-style: none;
}

.item-list a {
  padding: 0.125rem 0;
  margin: 0.125rem 0;
}

.item-list--comma-list {
  display: inline;
}

.item-list--comma-list .item-list__comma-list,
.item-list__comma-list li,
[dir='rtl'] .item-list--comma-list .item-list__comma-list,
[dir='rtl'] .item-list__comma-list li {
  margin: 0;
}

.list-horizontal {
  display: flex;
  flex-direction: row;
}

.list-horizontal li {
  margin: 0 1rem 0 1rem;
  list-style: none;
}

[dir='rtl'] .list-horizontal li {
  margin-right: 16px;
  margin-left: 16px;
}

.list-multicolumn {
  padding: 0;
}

.list-multicolumn::before,
.list-multicolumn::after {
  content: '';
  display: table;
}

.list-multicolumn::after {
  clear: both;
}

.list-multicolumn > li {
  font-weight: 700;
  list-style: none;
}

.list-multicolumn ul,
.list-multicolumn ol {
  font-weight: 400;
  padding: 0;
}

@media screen and (max-width: 60em) {
  .list-multicolumn::before,
  .list-multicolumn::after {
    content: '';
    display: table;
  }

  .list-multicolumn::after {
    clear: both;
  }

  .list-multicolumn > li {
    width: 12em;
    float: left;
    list-style: none;
  }

  .list-multicolumn ul,
  .list-multicolumn ol {
    padding: 0;
  }

  .list-multicolumn a {
    display: block;
  }
}

@media screen and (max-width: 60em) {
  .dl-horizontal dt {
    float: left;
    clear: left;
    text-align: left;
    width: 11em;
  }

  .dl-horizontal dt::after {
    content: ':';
  }

  .dl-horizontal dd {
    margin-left: 12em;
    overflow: hidden;
  }
}

.list-group {
  padding-left: 0;
  margin-left: 0;
}

/**
 * Skip link
 *  - Allows keyboard users to quickly skip to the main content of the page.
 ============================================================================ */

.skip-link {
  color: #fff;
  background-color: #444;
  border-radius: 0 0 2px 2px;
  opacity: 0;
  transition: opacity 0.15s ease-in;
  z-index: 50;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  text-align: center;
  padding: 0.375rem 1rem;
}

@media screen and (max-width: 45em) {
  .skip-link {
    left: 10%;
    transform: none;
  }
}

.skip-link:visited,
.skip-link:active,
.skip-link:focus {
  color: #fff;
}

.skip-link:focus {
  text-decoration: none;
  opacity: 1;
}

.skip-link.visually-hidden.focusable:focus {
  position: absolute !important;
  width: 11.25rem;
}

@media screen and (max-width: 45em) {
  .skip-link.visually-hidden.focusable:focus {
    width: 80%;
  }
}

/**
 * Feed Icons
 *  - icons are SVG, SEE feed-icon.html.twig in AT Core templates directory.
 ============================================================================ */

.feed-icon {
  display: block;
  width: 1rem;
  height: 1rem;
}

/**
 * Links
 * Links are used on node and comments, e.g. read more. They're also used by
 * blocks such as the language switcher and Devel modules switch user block.
 ============================================================================ */

.links {
  list-style: none;
  padding: 0;
}

.links.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.links.inline li {
  flex: 0 0 auto;
  margin: 0 16px 0 0;
}

.links.inline li[class*='hidden'] {
  display: none;
}

[dir='rtl'] .links.inline li {
  margin: 0 0 0 16px;
}

/**
 * Node previews
 *  - style the preview bar a little better than default.
 ============================================================================ */

.node-preview-container {
  position: relative;
  z-index: 499;
  width: 100%;
  min-width: 100%;
  background-color: #d1e8f5;
  background-image: linear-gradient(to bottom, #d1e8f5, #d3e8f4);
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.3333);
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1.25rem 0;
}

.node-preview-container form {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
}

.node-preview-container form::after {
  content: '';
  display: block;
  clear: both;
}

@media screen and (max-width: 45em) {
  .node-preview-container .form-item-view-mode {
    display: block !important;
  }
}

.node-preview-backlink {
  float: left;
  margin-right: 1.25rem;
}

@media screen and (max-width: 45em) {
  .node-preview-backlink {
    float: none;
    display: block;
    margin: 0 0 0.75rem;
  }
}

.node-preview-backlink::before {
  font-family: FontAwesome, sans-serif;
  content: '';
  padding: 0 0.5rem 0 0;
  margin: 0;
  display: none;
}

.fa-loaded .node-preview-backlink::before {
  display: inline-block;
}

[dir='rtl'] .node-preview-backlink::before {
  transform: scale(-1, 1);
}

.node-preview-form-select {
  margin: 1.25rem 0;
  padding: 0 1.25rem;
}

.node-preview-form-select .form-select {
  min-width: 10rem;
}

/**
 * CK Editor
 * - classes and styles set by CK Editor.
 ============================================================================ */

.text-align-justify {
  hyphens: auto;
}

/**
 * States.
 ============================================================================ */

/**
 * AT attribution message
 *  - a toggle setting in the theme settings, you can turn it on/off using
 *    the Markup overrides extension.
 ============================================================================ */

.l-attribution {
  order: 100;
}

.attribution .l-rw {
  justify-content: flex-end;
  align-items: center;
  min-height: 2rem;
  text-align: right;
}

.attribution__link {
  text-decoration: none;
  font-size: 0.75rem;
}

/**
 * Utility
 * - useful classes to be used anywhere.
 ============================================================================ */

.is-flexposition-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.is-vertical-center {
  align-items: center;
}

.is-vertical-top {
  align-items: flex-start;
}

.is-vertical-bottom {
  align-items: flex-end;
}

.is-horizontal-center {
  justify-content: center;
}

.is-horizontal-left {
  justify-content: flex-start;
}

.is-horizontal-right {
  justify-content: flex-end;
}
