.block-views-clients {
  @media screen and (max-width: 580px) {
    display: none;
  }
}

.block-views-clients h2.block__title {
  color: #333;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.875;
  text-align: center;
  padding-top: 100px;
}

.block-views-clients .view-clients {
  width: 100%;
  margin: auto;
  text-align: center;
}

.block-views-clients .clients {
  float: left;
  margin: 45px 10px 292px;
  // transition: 1s;
}

.block-views-clients .clients .views-field-field-photo {
  filter: grayscale(1);
}

.block-views-clients .clients-hover .views-field-field-photo,
.block-views-clients .clients:hover .views-field-field-photo {
  filter: grayscale(0);
}

.block-views-clients .view-clients .view-rows {
  display: flex;
  justify-content: center;
}

.block-views-clients .clients .views-field-body {
  font-family: $main-font;
  color: #333;
  font-size: 18px;
  font-style: italic;
  line-height: 1.6666;
  text-align: center;
  position: absolute;
  width: 100%;
  max-width: 750px;
  padding-top: 50px;
  margin: 0 auto 70px;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.block-views-clients .clients-hover .views-field-body {
  opacity: 1;
  visibility: visible;
}

.block-views-clients .clients .views-field-body span {
  display: inline-block;
  margin-top: 40px;
}

.block-views-clients .clients .views-field-body span.client-name {
  font-family: $main-font;
  color: #555;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: left;
}

.block-views-clients .clients .views-field-body span.client-position {
  font-family: $main-font;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.block-views-clients .client-photo {
  width: 82px;
  height: 82px;
  border-radius: 50%;
  overflow: hidden;
}

.block-views-clients .client-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
