@media only screen and (min-width: 580px) {
  .block-views-clients-mobile {
    display: none;
  }
}

.block-views-clients-mobile .view-id-clients .view-content a.jcarousel-control-next {
  border-radius: 3px;
  border: 2px solid $color--soft-blue;
  padding: 17px 36px;
  display: block;
  margin: 0 auto;
  width: 200px;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content a.jcarousel-control-next {
  @media screen and (max-width: 580px) {
    margin: 25px auto 10px;
  }
}

.block-views-clients-mobile h2.block__title {
  font-size: 30px;
  text-align: center;
}

.block-views-clients-mobile .view-id-clients .view-content a.jcarousel-control-next::after {
  font-family: 'Lato', sans-serif;
  color: $color--soft-blue;
  font-size: 18px;
  font-weight: 900;
  text-align: center;
  content: 'NEXT REVIEW';
}

.block-views-clients-mobile .view-id-clients .view-content .jcarousel-container-horizontal li .views-field-field-photo {
  text-align: center;
}

.block-views-clients-mobile .view-id-clients .view-content .jcarousel-container-horizontal li .views-field-body {
  padding: 35px 41px;
  font-family: 'Lato', sans-serif;
  color: #333;
  font-size: 18px;
  font-style: italic;
  line-height: 30px;
  text-align: center;
}

.block-views-clients-mobile .view-id-clients .view-content .jcarousel-container-horizontal li .views-field-body span.client-name {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: left;
}

.block-views-clients-mobile .view-id-clients .view-content .jcarousel-container-horizontal li .views-field-body span.client-position {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: left;
}

.block-views-clients-mobile .jcarousel-wrapper {
  margin: 0 auto;
  position: relative;
  width: 603px;
  max-width: 95%;
}

.block-views-clients-mobile .jcarousel-wrapper.jcarousel-visible-1 {
  width: 95vw;
}

.block-views-clients-mobile .jcarousel {
  position: relative;
  overflow: hidden;
  height: inherit;
}

.block-views-clients-mobile .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-views-clients-mobile .jcarousel li {
  float: left;
  width: 95vw;
}

.block-views-clients-mobile .jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

.block-views-clients-mobile .jcarousel .loading {
  text-align: center;
  line-height: 90px; /* Fake vertical aligning */
}

.block-views-clients-mobile .view-id-clients .view-content a.jcarousel-control-prev {
  display: none;
}
