/* =============================================================================
 *   Branding
 * ========================================================================== */

/*
 * Wraps all the branding elements, logo, name and slogan
 */

.block-plugin-id--system-branding-block {
  display: inline-block;
  margin-top: 20px;
}

/*
 * Logo
 */

#logo img {
  vertical-align: bottom;
}

/*
 * Site name (h1)
 */

#site-name {
  margin: 0;
}

#site-name a:link,
#site-name a:visited {
  text-decoration: none;
}

#site-name a:hover,
#site-name a:focus {
  text-decoration: none;
}

/*
 * Site slogan (h2)
 */

#site-slogan {
  margin: 0;
}

/* =============================================================================
 *   Page content header
 * ========================================================================== */

/*
 * The main page title (h1)
 */

#page-title {
  margin: 0;
}

/* =============================================================================
 *   Book navigation menu
 * ========================================================================== */

.book-navigation .page-up {
  /* Prevent text wrapping to a new line, assumes English "up" is used (two characters) */
  min-width: 2em;
  white-space: nowrap;
}

.book-navigation .menu {
  margin-left: 0;
}

/* =============================================================================
 *   Action links
 * ========================================================================== */

.action-links {
  margin: 20px 0 0;
  list-style: none;
}

/* =============================================================================
 *   Block Styling
 * ========================================================================== */

/*
 * Main wrapper for most blocks, block_system_main does not have it
 */

.block {
  margin-bottom: 20px;
}

/*
 * Block title
 */

.block-title {
  margin: 0;
}

/*
 * Match item list and block menu margin and padding
 */

.block__content ul,
.block__content ol {
  padding: 0 0 0 15px;
}

.block__content li {
  margin: 0;
  padding: 0;
}

/* =============================================================================
 *   Node Styling
 * ========================================================================== */

.node {
  margin-bottom: 0;
}

.node .node-title {
  margin: 0;
}

/* =============================================================================
 *   Comment Styling - Comments, comment wrapper, comment form
 * ========================================================================== */

#comments {
  margin: 1.5em 0;
}

#comments h2.comment-title {
  margin: 0;
}

#comments h2.comment-form {
  margin: 0;
}

.comment {
  margin-bottom: 20px;
}

.comment-title {
  margin: 0;
}

/*
 * "New" marker for comments that are new for the current user
 */

.new {
  color: #c00;
}

/*
 * Nested comments are indented
 */

.indented {
  margin-left: 40px;
}

/* =============================================================================
 *    Maintenance pages
 * ========================================================================== */

.maintenance-page .container {
  padding: 40px 0;
}

.maintenance-page #site-name,
.maintenance-page #page-title {
  margin: 0;
}

.db-offline .container {
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
  max-width: 960px;
}

.db-offline div.messages {
  margin: 20px 0 0;
}

.db-offline #content {
  padding: 20px 0;
}

/* stylelint-disable */

/* =============================================================================
 *   Tabs (local tasks)
 * ========================================================================== */

#tasks {
  margin-bottom: 15px;
}

ul.primary {
  border-bottom-color: #ccc;
  margin: 20px 0;
  padding: 0 0 0 5px;
}

ul.primary li {
  display: block;
  float: left;
  margin: 0 1px -1px;
}

ul.primary li a {
  background-color: #f5f5f5;
  border-color: #ccc;
  margin-right: 1px;
  padding: 0 10px;
  display: block;
  float: left;
  height: 1.5em;
  line-height: 1.5em;
}

ul.primary li a:hover,
ul.primary li a:focus {
  background-color: #eee;
  border-color: #ccc;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
  background-color: #fff;
  border-bottom-color: #fff;
}

ul.secondary {
  border-bottom: 1px solid #ccc;
  margin: 1em 0 0;
  padding: 0 0.3em 1em;
}

ul.secondary li {
  border-right: 0;
  list-style: none;
  padding: 0 10px 0 0;
}

ul.secondary li a:hover,
ul.secondary li a.active {
  border-bottom: none;
  text-decoration: underline;
}
