footer.pr-footer {
  overflow: hidden;
  height: 100%;
  background-color: $color--dark-cyanish-gray;
}

footer .pr-footer__footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1060px;
  padding: 0 20px;
  margin: 0 auto;
}

footer .pr-footer__footer .block {
  display: inline-block;
  margin: 40px 0;
  overflow: inherit;

  @media screen and (max-width: 580px) {
    margin: 20px 0;
  }
}

footer .pr-footer__footer .block h2.block__title {
  color: $color--soft-blue;
  font-size: 22px;
  font-weight: 400;
  line-height: 2.27;
  text-transform: uppercase;
  margin-left: 30px;
}

footer .pr-footer__footer .block-footer-social-links p {
  margin: 0;
}

footer .pr-footer__footer .block-footer-social-links p a.social-links-icon {
  display: inline-block;
  margin-right: 10px;
}

footer .pr-footer__footer .block-footer-social-links p a.social-links-icon img {
  height: 40px;
  width: 40px;
}

footer .pr-footer__footer .block-footer-contact-us div.field__item div {
  color: #ececec;
  font-size: 16px;
  font-style: italic;
  line-height: 22px;
  padding-left: 30px;
  margin-bottom: 24px;
}

footer .pr-footer__footer .block-footer-contact-us div.block__content div.address {
  background: url('../assets/images/footer-location.png') no-repeat 0%;
}

footer .pr-footer__footer .block-footer-contact-us div.block__content div.phone {
  background: url('../assets/images/footer-smartphone.png') no-repeat 0%;
}

footer .pr-footer__footer .block-footer-contact-us div.block__content div.email {
  background: url('../assets/images/mail.png') no-repeat 0%;
}

footer .pr-footer__footer .block-footer-latest-posts li {
  color: $color--soft-blue;
  margin-bottom: 22px;
  font-size: 16px;
}

footer .pr-footer__footer .block-footer-latest-posts li a {
  color: $color--white;
  padding-left: 15px;
}

footer .pr-footer__footer .colorized-gmap-common {
  width: 100%;
  height: 175px;
  margin-top: 14px;
}

footer .pr-footer__footer .block-footer-contact-us,
footer .pr-footer__footer .block-footer-latest-posts {
  width: 30%;
  padding-right: 20px;

  @media screen and (max-width: 800px) {
    width: 100%;
    max-width: 260px;
    margin: 20px auto 0;
    padding: 0;
  }
}

footer .pr-footer__footer .block-plugin-id--colorized-gmap {
  width: 40%;

  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

footer .pr-footer__footer .block-footer-social-links {
  width: 100%;
  text-align: right;
  margin-bottom: 20px;

  @media screen and (max-width: 580px) {
    text-align: center;
    margin-top: 0;
  }
}
