header .pr-header__header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header .pr-header__header .block-branding {
  width: 50%;
}

header .pr-header__header .block-header-social-links {
  width: 50%;

  @media screen and (max-width: 1023px) {
    display: none;
  }
}

header .pr-header__header .block-header-social-links .block__inner {
  text-align: end;
}

header .pr-header__header .block-header-social-links a.social-links-icon {
  display: inline-block;
  margin-right: 10px;
}

header .pr-header__header .block-header-social-links a.social-links-icon img {
  height: 40px;
  width: 40px;
}

header .pr-header__header .block-text-before-webform {
  margin: 50px auto;
  width: 580px;
  text-align: center;

  @media screen and (max-width: 580px) {
    width: 100%;
    margin: 50px auto 25px;
  }
}

header .pr-header__header .block-text-before-webform .block__content p {
  font-size: 60px;
  margin-bottom: 4%;

  @media screen and (max-width: 580px) {
    font-size: 32px;
  }
}

header .pr-header__header .block-webform-header {
  width: 420px;
  margin: 0 auto 90px auto;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: 6px;
  padding: 0 30px;

  @media screen and (max-width: 580px) {
    width: 90%;
    padding: 0 15px;
  }
}

header .pr-header__header .block-webform-header input {
  max-width: 314px;
  width: 100%;
  font-family: $main-font;
  height: 50px;
  background-color: transparent;
  color: #cbcbcb;
  border: 2px solid #fff;
  font-size: 18px;
  padding-left: 22px;
  letter-spacing: 0.32px;
}

header {
  background-image: url('../assets/images/pic/maxresdefault.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: white !important;
  margin-bottom: 100px;
}

header > .container {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3) !important;
}

header > .container .pr-header__header {
  max-width: 975px;
  margin: 0 auto;
}

header .pr-header__header .block-webform-header div.error {
  background-image: url('../assets/images/error.png');
  background-color: #fcedef;
  background-position: 22px 18px;
  font-family: 'Lato', serif;
  font-size: 18px;
  font-weight: 700;
  color: $color--light-red;
  position: absolute;
  margin-left: 190px;
  margin-top: -82px;
  white-space: nowrap;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
}

header .pr-header__header .block-webform-header .messages-inline {
  display: inline-block;
  vertical-align: top;
  border-radius: 3px;
  border: 2px solid $color--light-red;
  min-width: 190px;
  height: 33px;
}

header .pr-header__header .block-webform-header .form-error {
  color: $color--light-red !important;
  border-color: $color--light-red !important;
}

header .pr-header__header .block-webform-header .form-error::-webkit-input-placeholder {
  color: $color--light-red !important;
}

header .pr-header__header .block-webform-header .form-error::-moz-placeholder {
  color: $color--light-red !important;
}

header .pr-header__header .block-webform-header .form-error:-moz-placeholder {
  color: $color--light-red !important;
}

header .pr-header__header .block-webform-header .form-error:-ms-input-placeholder {
  color: $color--light-red !important;
}

header .pr-header__header .block-webform-header .form-item {
  margin: 25px 0;
}

header .pr-header__header .block-webform-header .form-actions {
  position: relative;
  margin: 33px 0;
  justify-content: center;
}

header .pr-header__header .block-webform-header h2.block__title {
  color: $color--white;
  font-size: 34px;
  font-weight: 400;
  line-height: 1.9;
}

header .pr-header__header .block-webform-header input::-webkit-input-placeholder {
  font-family: $main-font;
  font-size: 16px;
  color: $color--white;
  opacity: 0.8;
  letter-spacing: 0.32px;
}

header .pr-header__header .block-webform-header input.error {
  border-color: #f9c9bf;
}

header .pr-header__header .block-webform-header input.form-submit {
  font-family: $main-font;
  font-size: 16px;
  text-transform: uppercase;
  height: 50px;
  color: $color--white;
  font-weight: 700;
  background-color: $color--soft-blue;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.8px;
  padding: 0;
  margin: 0;
}

header .messages {
  margin: 10px auto;
  width: 100%;
  max-width: 314px;
}

header .messages__list .messages__item {
  text-align: left;
}

header .pr-header__header .block-webform-header .form-actions .ajax-progress {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
