html,
body {
  height: 100%;
}

body {
  width: 100%;
  background: $color--white;
  min-width: 0;
}

.block {
  overflow: hidden;
}

.l-r,
.l-rw {
  padding: 0;
  max-width: 100%;
}

h2.block__title {
  line-height: 1.875;
  margin: 0;
  color: #333;
  font-size: 40px;
  font-weight: 400;
}

.view-header {
  margin-bottom: 60px;
  color: #555;
  font-size: 22px;
  font-style: italic;
}

.page {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

.page-top,
.page-bottom {
  padding: 0;
  margin: 0;
}

.l-pr {
  display: flex;
  justify-content: center;
}

.l-r {
  transition: all, 225ms, ease-in-out;
}
