/**
 * Menus
 *  - style Drupal core block menus.
 *  - for the drop menu and other responsive menus see the mixins and the
 *    respective responsive menu partials.
 ============================================================================ */
.menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul.menu {
  padding-left: 15px;
}

ul.menu ul {
  padding-left: 15px;
}

ul.menu li {
  margin: 0;
}

.menu .menu__link {
  display: block;
  padding: 0.125rem 0;
  margin: 0.125rem 0;
}

.menu .menu__link:hover,
.menu .menu__link:focus {
  text-decoration: none;
}

.menu .menu__link::before,
.menu .menu__link::after {
  display: none;
}

.fa-loaded .menu .menu__link::before,
.fa-loaded .menu .menu__link::after {
  display: inline-block;
}

.menu .menu__link.button {
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu .menu__link.button::after {
  content: '';
  display: none;
}

.menu .menu {
  padding-left: 1rem;
}

.menu .menu__item--no-link .menu__link {
  cursor: default;
}

.menu__item {
  text-align: left;
}

.pr-footer__footer .menu-level-1 {
  display: flex;
  flex-direction: row;
}

.pr-leaderboard .block-menu {
  margin: 0;
}

.pr-leaderboard .block-menu .menu-level-1 {
  display: flex;
  flex-direction: row;
}

.pr-footer__footer .menu-level-1 .menu__item {
  margin: 0.625rem 1rem 0.625rem 0;
  list-style: none;
}

.pr-leaderboard .block-menu .menu-level-1 .menu__item {
  margin: 0.375rem 1rem 0.375rem 0;
  list-style: none;
}

[dir='rtl'] .pr-footer__footer .menu-level-1 .menu__item {
  margin-right: 0;
  margin-left: 16px;
}

[dir='rtl'] .pr-leaderboard .block-menu .menu-level-1 .menu__item {
  margin-right: 0;
  margin-left: 16px;
}

.pr-leaderboard.rm-row .block-menu {
  float: right;
}

.pr-leaderboard .menu .menu__link::after {
  content: none;
  display: none;
}

.pr-footer__footer .menu .menu__link::after {
  content: none;
  display: none;
}

.at-mt .at-menu-toggle,
.at-mt .at-menu-toggle ul,
.at-mt .at-menu-toggle ul.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.at-mt .at-menu-toggle-button {
  margin: 0;
}

.at-mt .at-menu-toggle ul a {
  padding: 0 10px;
  white-space: nowrap;
}

/* If li.content exists it's a problem, so reset the padding */
.block .menu li.content {
  padding: 0;
}
