/**
 * Messages
 * Style system messages such as status, warning and error.
 * Colors are kept here, we don't want these to shift in color module.
 ============================================================================ */
.messages {
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 1.25em;
  margin: 10px 0;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: none;
}

.messages a {
  color: #0074bd;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}

.messages .container {
  box-sizing: border-box;
}

.messages__list {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.messages__list + .messages__item {
  margin-top: 1.5rem;
}

.messages__list .item-list ul {
  margin: 1.25rem 0;
}

.messages__list .item-list ul li {
  list-style: square;
}

.messages--status,
table tr.ok {
  background-color: #f3faef;
}

.messages--status,
.ok {
  color: #325e1c;
  border-color: #c9e1bd;
}

.messages--warning,
table tr.warning {
  background-color: #fdf8ed;
}

.messages--warning,
.warning {
  color: #734c00;
  border-color: #f4daa6;
}

.messages--error,
table tr.error {
  background-color: #fcf4f2;
}

.messages--error,
.error {
  color: #a51b00;
  border-color: #f9c9bf;
}

.messages--status,
.messages--warning,
.messages--error {
  background-image: none;
}

[dir='rtl'] .messages {
  text-align: right;
}

.messages .icon::before {
  font-family: FontAwesome, sans-serif;
  float: left;
  vertical-align: top;
  padding: 0 0.75rem 0 0;
  display: none;
}

.fa-loaded .messages .icon::before {
  display: block;
}

[dir='rtl'] .messages .icon::before {
  padding: 0 0 0 0.75rem;
  float: right;
}

.icon-status::before {
  content: '';
}

.icon-warning::before {
  content: '';
}

.icon-error::before {
  content: '';
}
