ul.pager {
  clear: both;
  margin: 0;
  text-align: center;
}

ul.pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  padding: 0.5em;
}

.item-list ul.pager li {
  margin: 0;
}

ul.pager li.pager-current {
  font-weight: 700;
}

.block ul.pager li {
  margin: 0;
}
