.block-views-pricing-tables {
  margin: 0 auto;
  text-align: center;
  font-family: $main-font;
  background-color: #f1f4f5;
  padding-bottom: 100px;
  padding-top: 70px;
}

.block-views-pricing-tables .view-header {
  margin-bottom: 56px;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-title {
  font-family: $main-font;
  color: #333;
  font-size: 24px;
  letter-spacing: 0.6px;
  font-weight: 400;
  margin-top: 40px;
  margin-bottom: 20px;
  transition-property: color;
  transition-duration: 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 40px;
  font-weight: 400;
  width: 145px;
  height: 145px;
  margin: 0 auto 30px auto;
  border-radius: 100%;
  background: rgba(241, 244, 245, 0.75);
  transition: all ease 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even) .views-field-title {
  color: $color--soft-blue;
  transition-property: color;
  transition-duration: 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even) .views-field-field-price {
  color: #fff;
  background: $color--soft-blue;
  transition: all ease 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row {
  width: 310px;
  display: inline-block;
  height: 480px;
  margin: 0 10px;
  background-color: #fff;
  border-radius: 6px;
  vertical-align: top;
  transition-property: background-color;
  transition-duration: 0.3s;

  @media screen and (max-width: 767px) {
    width: 93%;
    margin-bottom: 35px;
  }

  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    width: 228px;
  }
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-services {
  margin-bottom: 30px;
  padding: 0 50px;

  @media only screen and (min-width: 581px) and (max-width: 1024px) {
    padding: 0 20px;
  }
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-services ul {
  margin: 0;
  padding: 0;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-services ul li {
  list-style: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #555;
  padding: 0;
  transition: all ease 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-price span.period {
  display: block;
  font-size: 14px;
  line-height: 16px;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-price span.currency {
  font-size: 18px;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-link-to-booking a {
  color: $color--soft-blue;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 900;
  padding: 12.5px 27px;
  border: 2px solid $color--soft-blue;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease 0.3s;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even) .views-field-field-link-to-booking a {
  @media only screen and (min-width: 581px) and (max-width: 1024px) {
    padding: 12.5px 9px;
  }
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-link-to-booking a::after {
  content: 'Buy now';
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even) .views-field-field-link-to-booking a::after {
  content: 'Buy the most popular' !important;
}

.block-views-pricing-tables .view-pricing-tables .views-row:hover .views-field-title {
  color: #fff;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even):hover .views-field-title {
  color: #fff !important;
}

.block-views-pricing-tables .view-pricing-tables .views-row:hover {
  background-color: $color--soft-blue;
}

.block-views-pricing-tables .view-pricing-tables .views-row:hover .views-field-field-services li {
  color: #fff;
}

.block-views-pricing-tables .view-pricing-tables .views-row:hover .views-field-field-price {
  background-color: rgba(241, 244, 245, 0.15);
  color: #fff;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even):hover .views-field-field-price {
  background: #6bbfde !important;
}

.block-views-pricing-tables .view-pricing-tables .views-row:hover .views-field-field-link-to-booking a {
  color: #fff;
  border-color: #fff;
}

.block-views-pricing-tables .view-pricing-tables .views-row:nth-of-type(even):hover .views-field-field-link-to-booking a {
  color: #fff;
  border-color: #fff;
  background-color: #6bbfde;
}

.block-views-pricing-tables .view-pricing-tables .views-row .views-field-field-services ul li:nth-of-type(even) {
  border-bottom: 1px solid $color--light-gray;
  border-top: 1px solid $color--light-gray;
}
