.block-views-resorts-block-mobile {
  display: none;

  @media only screen and (max-width: 1024px) {
    display: block;
  }
}

.block-views-resorts-block-mobile .view-resorts-block .view-content {
  @media only screen and (max-width: 1024px) {
    max-width: 950px;
    margin: 0 auto;
    overflow: hidden;
  }

  @media only screen and (max-width: 768px) {
    max-width: 745px;
  }
}

.block-views-resorts-block-mobile .jcarousel-wrapper {
  width: calc(100% - 100px);
  margin: 0 auto;
  position: relative;

  @media only screen and (max-width: 580px) {
    width: 100%;
  }
}

.block-views-resorts-block-mobile .jcarousel-wrapper.jcarousel-visible-1 {
  width: 95vw;
}

.block-views-resorts-block-mobile .jcarousel {
  position: relative;
  overflow: hidden;
  height: inherit;
}

.block-views-resorts-block-mobile .jcarousel ul {
  width: 20000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.block-views-resorts-block-mobile .jcarousel li {
  float: left;
  width: 95vw;
}

.block-views-resorts-block-mobile .jcarousel img {
  display: block;
  max-width: 100%;
  height: auto !important;
  margin: 0 auto;
}

.block-views-resorts-block-mobile .jcarousel .loading {
  text-align: center;
  line-height: 90px; /* Fake vertical aligning */
}

.block-views-resorts-block-mobile .view-content a.jcarousel-control-prev {
  display: none;

  @media screen and (min-width: 581px) and (max-width: 1024px) {
    display: initial;
  }
}

.block-views-resorts-block-mobile .view-content a.jcarousel-control-next {
  width: 200px;
}

.block-views-resorts-block-mobile .views-field-field-image .field-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
  transition: all 0.5s ease;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li {
  position: relative;
  text-align: center;
  width: 50%;
  height: 300px;
  margin-right: 45px;
  float: left;

  @media only screen and (max-width: 580px) {
    margin-left: calc(50vw - 150px);
    margin-right: calc(50vw - 150px);
    padding: 0;
  }
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: $main-font;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-rating {
  position: absolute;
  bottom: 15px;
  left: 20px;
  width: 130px;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-rating div.star {
  background: none;
  width: 14px;
  height: 15px;
  margin-right: 8px;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-cost {
  color: white;
  font-family: $main-font;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 37px;
  left: 20px;
  width: 150px;
  text-align: left;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-cost .views-label {
  font-weight: 400;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-cost .field-content {
  font-weight: 700;
  display: inline-block;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-link-to-booking {
  display: inline-block;
  width: 120px;
  height: 40px;
  background: $color--soft-blue;
  border-radius: 6px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .views-field-field-link-to-booking a {
  display: block;
  color: white;
  font-family: $main-font;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  width: 100%;
  padding: 8px 0;
}

@media only screen and (min-width: 581px) and (max-width: 1024px) {
  .block-views-resorts-block-mobile .view-resorts-block .view-content a.jcarousel-control-next {
    background: url('../assets/images/right-arrow.png') center no-repeat;
    position: absolute;
    top: 0;
    right: -50px;
    z-index: 9;
    width: 20px;
    height: 100%;
    padding: 0 25px;
  }

  .block-views-resorts-block-mobile .view-resorts-block .view-content a.jcarousel-control-prev {
    background: url('../assets/images/left-arrow.png') center no-repeat;
    position: absolute;
    top: 0;
    left: -50px;
    z-index: 9;
    width: 20px;
    height: 100%;
    padding: 0 25px;

    @media screen and (max-width: 580px) {
      display: none;
    }
  }
}

.block-views-resorts-block-mobile h2.block__title {
  font-family: $main-font;
  color: #333;
  font-weight: 400;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: 40px;
  }

  @media screen and (max-width: 580px) {
    font-size: 30px;
    line-height: 1;
    padding: 0 20px 18px;
  }
}

.block-views-resorts-block-mobile .view-resorts-block .view-header h3 {
  font-family: $main-font;
  color: #555;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-weight: 400;

  @media screen and (max-width: 580px) {
    font-size: 18px;
  }
}

@media screen and (max-width: 580px) {
  .block-views-resorts-block-mobile .view-resorts-block .view-content a.jcarousel-control-next::after {
    font-family: $main-font;
    color: $color--soft-blue;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    content: 'NEXT OFFER';
  }

  .block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal {
    margin: 0 auto;
  }

  .block-views-resorts-block-mobile .view-resorts-block .view-content a.jcarousel-control-next {
    border-radius: 3px;
    border: 2px solid $color--soft-blue;
    padding: 17px 36px;
    display: block;
    text-align: center;
  }
}
