.block-views-resorts-block {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 120px 0;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.block-views-resorts-block div.views-row {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
}

.block-views-resorts-block div.views-row div.views-field-field-image,
.block-views-resorts-block div.views-row div.views-field-field-image img {
  width: 100%;
}

.block-views-resorts-block div.views-row div.views-field-field-image .field-content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
  transition: all ease 0.5s;
}

.block-views-resorts-block div.views-row .views-field-field-link-to-booking {
  display: inline-block;
  width: 145px;
  height: 50px;
  background: $color--soft-blue;
  color: #fff;
  border-radius: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  text-transform: uppercase;
  transition-property: opacity;
  transition-duration: 0.5s;
  cursor: pointer;
}

.block-views-resorts-block .views-row:hover .views-field-field-link-to-booking {
  opacity: 1;
}

.block-views-resorts-block div.views-row .views-field-field-link-to-booking a {
  text-transform: uppercase;
  display: block;
  color: #fff;
  font-family: $main-font;
  font-size: 20px;
  letter-spacing: 1.26px;
  font-weight: 700;
  line-height: 24.01px;
  width: 100%;
  padding: 12px 0;
}

.block-views-resorts-block div.views-row .views-field-title {
  color: #fff;
  font-family: $main-font;
  letter-spacing: 1.65px;
  line-height: 24px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.block-views-resorts-block div.views-row .views-field-field-rating {
  position: relative;
  bottom: 35px;
  left: 20px;
}

.block-views-resorts-block div.views-row .views-field-field-rating div.star {
  background: none;
  width: 14px;
  height: 15px;
  margin-right: 8px;
}

.block-views-resorts-block div.views-row .views-field-field-cost {
  color: #fff;
  font-family: $main-font;
  font-size: 18px;
  text-transform: uppercase;
  position: absolute;
  bottom: 15px;
  right: 20px;
  text-align: right;
}

.block-views-resorts-block div.views-row .views-field-field-cost .views-label {
  font-weight: 400;
}

.block-views-resorts-block div.views-row .views-field-field-cost .field-content {
  font-weight: 700;
  display: inline-block;
}

.block-views-resorts-block .views-row:hover .views-field-field-image .field-content::after {
  background-color: rgba(0, 0, 0, 0.75);
}

.block-views-resorts-block .view-resorts-block .view-header h3 {
  font-family: $main-font;
  color: #555;
  font-size: 22px;
  font-style: italic;
  text-align: center;
  font-weight: 400;
}

/* stylelint-disable */
.block-views-resorts-block .views-row .views-field-field-rating .off a,
.block-views-resorts-block-mobile li .views-field-field-rating .off a {
  background: url('../assets/images/star-gray.png') no-repeat 0 0 !important;
}

.block-views-resorts-block .views-row .views-field-field-rating .on a,
.block-views-resorts-block-mobile li .views-field-field-rating .on a {
  background: url('../assets/images/star-yellow.png') no-repeat 0 0 !important;
}
