.page a[class^='socicon-'] {
  font-size: 20px;
  border-style: solid;
  border-radius: 100%;
  border-width: 2px;
  position: relative;
  padding: 3px 8px;
  color: #fff;
  transition-property: color;
  transition-duration: 0.5s;
  margin-right: 6px;
  display: inline-block;
}

.page a[class^='socicon-']:hover {
  transition: 0.5s;
  color: $color--soft-blue;
}

.page a[class^='socicon-']::before {
  position: relative;
  top: 2px;
}
