.block-views-video-popup {
  background-image: url('../assets/images/pic/banner.jpg');
  background-size: cover;
  background-position: 50% 50%;
  text-align: center;
}

.block-views-video-popup .view-video-popup-block {
  background-color: rgba(0, 0, 0, 0.55);
  height: 100%;
}

.block-views-video-popup .view-video-popup-block .views-field-nothing {
  padding-top: 100px;

  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

.block-views-video-popup .view-video-popup-block .views-field-nothing h2 {
  margin-top: 22px;
  color: white;
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
}

.block-views-video-popup .view-video-popup-block .views-field-nothing h3 {
  color: #fffefe;
  font-size: 22px;
  font-style: italic;
  line-height: 20px;
  font-weight: 400;
}

.block-views-video-popup .view-video-popup-block .views-field-nothing-1 {
  width: 30%;
  display: inline-block;
  padding-bottom: 120px;
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  @media screen and (max-width: 1024px) {
    width: 80%;
  }

  @media screen and (max-width: 580px) {
    width: 100%;
  }
}

.block-views-video-popup .view-video-popup-block .views-field-nothing-1 h2 {
  @media screen and (max-width: 580px) {
    line-height: 50px;
  }
}

.block-views-video-popup .view-video-popup-block .views-field-field-video-link {
  padding: 30px 0 35px;
}

.block-views-video-popup .view-video-popup-block .views-field-field-video-link a {
  background-image: url('../assets/images/ico/03_music-player_default.svg');
  display: inline-block;
  width: 64px;
  height: 64px;
}

.block-views-video-popup .view-video-popup-block .views-field-field-video-link a img,
.block-views-resorts-block-mobile .view-resorts-block .view-content .jcarousel .jcarousel-container-horizontal li .form-type-select__select-wrapper::after {
  display: none;
}
