/* ==========================================================================
  Base styles
  ========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: $main-font;
  font-size: $main-font-size;
  line-height: $main-line-height;
  color: $main-text-color;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

audio,
canvas,
iframe,
img,
svg,
video,
object,
input,
textarea {
  vertical-align: middle;
  max-width: 100%;
}

pre,
code,
tt,
samp,
kbd,
var {
  font-family: $main-font;
}

img {
  height: auto;
  line-height: 0;
  display: inline-block;
}

textarea {
  resize: vertical;
}

button,
input[type='submit'] {
  cursor: pointer;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

body {
  margin: 0;
  padding: 0;
}

[dir='rtl'] body {
  text-align: right;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img,
embed,
object,
video {
  max-width: 100%;
}

video {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

img,
audio,
canvas,
video {
  vertical-align: middle;
}

svg {
  max-height: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

figcaption {
  font-size: 0.75rem;
  line-height: 1.25rem;
  padding: 0.5rem 0;
  margin: auto;
}

a img {
  border: 0;
}

ul,
ol,
dl {
  padding-left: 3.25rem;
  padding-right: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-left: 1rem;
}

[dir='rtl'] dd {
  margin-left: 0;
  margin-right: 1rem;
}

blockquote {
  padding: 1rem;
  margin-left: 3.25rem;
  margin-right: 0;
  border-left: 5px solid;
}

blockquote.simple-quote {
  border: 0 none;
  padding: 0;
  margin: 0;
}

blockquote p {
  font-weight: 300;

  @media screen and (min-width: 60.0625em) {
    font-size: 1.25rem;
  }
}

blockquote p:first-child {
  margin-top: 0;
}

blockquote p:first-child::before {
  font-family: FontAwesome, sans-serif;
  content: '';
  padding: 0 0.3125rem 0 0;
  margin: 0;
  text-align: left;
  width: 1.25rem;
  display: none;
}

.fa-loaded blockquote p:first-child::before {
  display: inline-block;
}

[dir='rtl'] blockquote p:first-child::before {
  transform: scale(-1, 1);
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

blockquote small {
  display: block;
}

blockquote small::before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  padding-left: 0;
  border-right: 5px solid;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small::before {
  content: '';
}

blockquote.pull-right small::after {
  content: '\00A0 \2014';
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid;
  padding: 0;
  box-sizing: border-box;
}

code,
pre,
var,
kbd,
samp {
  font-family: 'Courier New', Courier, monospace;
  overflow-x: auto;
}

pre {
  padding: 1rem;
}

[hidden],
template {
  display: none !important;
}
