/* Colors */
$color--white: #fff;
$color--black: #000;

$color--light-gray: #ccc;
$color--dark-cyanish-gray: #2f3434;
$color--light-red: #f66;
$color--soft-blue: #53b5d9;
$color--lochmara: #0074bd;

/* Fonts */
$f-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif;

/* Base variables */
$main-font: 'Lato', $f-sans-serif;
$main-font-size: 14px;
$main-line-height: 1.5;
$heading-font: $f-sans-serif;
$heading-line-height: 1.1;
$main-bg: $color--white;
$main-text-color: $color--black;
$secondary-text-color: $color--white;
$link-color: $color--lochmara;
$default-transition-time: 0.3s;
$default-transition: all $default-transition-time ease;

/* Media variables */
